<%= stylesheet_link_tag "application" %>

<div>
  <h1>Login</h1>

  <%= render 'users/errors' %>

    <%= form_tag(sessions_path) do %>
      <label>Username:</label><br>
      <%= text_field_tag :username %><br>
      <label>Password:</label><br>
      <%= password_field_tag :password %><br><br>
      <%= submit_tag "Submit" %>
    <% end %> 
  </div>