<h1>Profile Page</h1>

<%= @user.username.capitalize %><br>
Member since: <%= date_posted(@user.created_at) %><br>
Total Posts: <%= @user.posts.count %><br>
Total Cars: <%= @user.cars.count %><br>
Total Likes: <%= @user.likes.count %>

