

<h3>Posted by: <%= @post.user.name.capitalize %><br><br></h3>



   
Title:<br><br>
<%= @post.title %><br><br>
Description:<br>
<p><%= @post.content %></p><br>

Is this your car? <%= your_car(@post) %><br>

Date Posted:<br>
<%= date_posted(@post.created_at) %><br><br>

<%= link_to("Tags:", categories_path) %>
<% @post.post_categories.each do |post| %>
   <%= post.category.name+' '%>
<% end %><br><br>


<%= like_helper(@post) %><br>
<%= post_edit_helper(@post) %><br>
<%= post_delete_helper(@post) %><br>

<% @post.comments.each do |comment| %><br>
   
   <%= comment.user.username%>'s comment : <%= comment.content %><br>
<% end %><br>

<%= form_for @post, url: comment_path, method: :put do |f| %>
   <%= f.label("Add a Comment:") %><br>
   <%= f.text_area(:content, input_html: {autocomplete: 'off'}) %><br>
   <%= f.submit("Add Comment") %>
<% end %>


