<h3>Posted by: <%= @post.user.name.capitalize %><br><br></h3>

<%= like_helper(@post) %><br>
   
<%= comment_helper(@post) %><br>
   
Title:<br><br>
<%= @post.title %><br><br>
Description:<br>
<p><%= @post.content %></p><br>

Date Posted:<br>
<%= date_posted(@post.created_at) %><br><br>

Tags:
<% @post.post_categories.each do |post| %>
   <%= post.category.name+' '%>
<% end %><br><br>

<%= delete_helper(@post) %>

