<h1><%= @car.make %> <%= @car.model %></h1>

    Year: <%= @car.year %><br>
    Color: <%= @car.color %><br>
    Transmission: <%= @car.transmission %><br>
    Body Style: <%= @car.body_style %><br>
    Engine Type: <%= @car.engine %><br>
    Mileage: <%= @car.mileage %><br><br>

<%= car_edit_helper(@car) %><br>
<%= car_delete_helper(@car) %>    